<h1>Create a new Poll</h1>		
	<form id="myForm" action="/polls/" method="post">
	{% csrf_token %}
		<p>Question: <input type="text" name="poll"></p>
		<div id="Choices">
		<p>Choice: <input type="text" name='choice1'></p>
		<p>Choice: <input type="text" name='choice2'></p>
		<p>Choice: <input type="text" name='choice3'></p>
		<p>Choice: <input type="text" name='choice4'></p>
		</div>  
		<a href="javascript:addOption();">Add option</a> <br />
		<input type="submit" value="Submit" />
	</form>
	
	<script> 
        choiceNumber= 5; //The first option to be added is number 5 
        function addOption() { 
                var choices = document.getElementById("Choices"); 
                var newChoice = document.createElement("input"); 
                newChoice.name = "choice" + choiceNumber.toString();
                newChoice.type = "text";
                var p = document.createElement("p");
                p.innerHTML = "Choice: ";
            	choices.appendChild(p, newChoice);
                p.appendChild(newChoice); 
                choiceNumber++;

        }
	</script>